<style>
    #name-description{
        left:5%;
        bottom:20%;
        position: fixed;
        z-index: 2;
        font-family: 'Ubuntu', sans-serif;
        color: #ffffff;
    }

    #name-description .title{
        font-size: 164px;
        font-weight: bolder;
    }

    #name-description .description{
        font-size: 48px;
    }


</style>

<div id="name-description">
    <span class="title">api<span class="orange" >GO</span></span><br>
    <span class="description">Taking tests to the e<span class="orange" >X</span>treme!</span>
</div>